/* pagina HOME */
/* Para celular */
@media only screen and (max-width: 600px) {

    body {


        /* overflow: hidden; */
    }

    .containerHome {

        background-color: #F2E3D0;
        background-image: url("../components/img/backHome.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 191vw;
        overflow: hidden;
        position: relative;

    }

    .vilage {
        margin-top: 50vw;
        margin-bottom: 58vw;


        text-align: center;
    }

    .vilage img {


        width: 100vw;
    }

    .menu {
        position: relative;
    }

    .menu img {
        width: 120vw;
    }

    .about {
        width: 20vw;
        height: 20vw;

        position: absolute;
        top: 3vw;
        left: 42vw;
        cursor: pointer;
    }

    .book {
        width: 25vw;
        height: 20vw;

        position: absolute;
        top: 38vw;
        left: 22vw;
        cursor: pointer;
    }
    .catarse{
        cursor: pointer;
    }

    .catarse {
        width: 25vw;
        height: 20vw;

        position: absolute;
        top: 32vw;
        left: 52vw
    }

}

/* pagina Leitura */
@media only screen and (max-width: 600px) {


    .containerLeitura {
        height: 200vw;
        background-color: #F4E2C7;
        /* padding: 5vw; */
        
    }
    
    .menuLeitura {
        
        position: relative;
        height: 100vw;
        /* background-color: #E8B87A; */
    }

    .menuLeitura img {
        width: 100vw
    }



}