/* pagina HOME */
/* desktop */

.m-mobile {
    display: none;
}

body {

    background-color: #F2E3D0;
}

.containerHome {

    background-color: #F2E3D0;
    /* background-image: url("../components/img/backHome.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    height: 47vw;


}

.vilage {
    padding-top: 1vw;
    margin-bottom: 8vw;


    text-align: center;
}

.vilage img {


    width: 50vw;
}

.menu {
    position: relative;
    display: flex;
    justify-content: center;

}

.m-desk {

    width: 30vw;
}

.homenzin {
    top: -5.1vw;
    left: 44.6vw;
    position: absolute;
    width: 10.9vw;
    filter: grayscale(1);
    transition: all 0.2s linear;

}

.livroAkin {
    bottom: 0;
    width: 13.8vw;
    left: 34vw;
    top: 14vw;
    position: absolute;
    transition: all 0.2s linear;
    filter: grayscale(1);
    cursor: pointer;

}

.saco {
    transition: all 0.2s linear;
    position: absolute;
    bottom: 2.3vw;
    left: 51.7vw;
    width: 14vw;
    filter: grayscale(1);
}

.livroAkin:hover,
.homenzin:hover,
.saco:hover {
    filter: grayscale(0);
    scale: 1.09;
}

.about {
    width: 10vw;
    height: 10vw;
    display: none;
    position: absolute;
    top: 3vw;
    left: 42vw;
    cursor: pointer;
}

.book {
    width: 10vw;
    height: 10vw;
    display: none;
    position: absolute;
    top: 8vw;
    left: 22vw;
    cursor: pointer;
}


.catarse {
    cursor: pointer;

}

.catarse {
    width: 10vw;
    height: 10vw;
    display: none;
    position: absolute;
    top: 2vw;
    left: 52vw
}




/* Para celular */
@media only screen and (max-width: 600px) {

    body {


        /* overflow: hidden; */
    }

    .m-desk {
        display: none;
    }

    .m-mobile {
        display: block;
    }

    .containerHome {

        background-color: #F2E3D0;
        background-image: url("../components/img/backHome.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 191vw;
        overflow: hidden;
        position: relative;

    }

    .vilage {
        margin-top: 50vw;
        margin-bottom: 58vw;


        text-align: center;
    }

    .vilage img {


        width: 100vw;
    }

    .menu {
        display: block;
        position: relative;
    }

    .menu img {

        width: 120vw;
    }

    .livroAkin,
    .homenzin,
    .saco {
        display: none;
    }

    .about {
        width: 20vw;
        height: 20vw;
        display: block;
        position: absolute;
        top: 3vw;
        left: 42vw;
        cursor: pointer;
    }

    .book {
        width: 25vw;
        height: 20vw;
        display: block;
        position: absolute;
        top: 38vw;
        left: 22vw;
        cursor: pointer;
    }

    .catarse {
        cursor: pointer;
    }

    .catarse {
        width: 25vw;
        height: 20vw;
        display: block;
        position: absolute;
        top: 32vw;
        left: 52vw
    }

}

/* pagina Leitura */
/* Desktop */

.containerLeitura {


    height: 50vw;
    margin-left: 20vw;
    margin-right: 20vw;
    background-color: #F4E2C7;
    /* padding: 5vw; */

}

.menuLeitura {

    position: relative;
    display: flex;
    justify-content: center;
    height: 35vw;
    /* background-color: #E8B87A; */
}

.menuLeitura img {
    width: 35vw;
    border-radius: 5px;
}

.pag {
    position: relative;

    z-index: 2;
}

.pagina {
    font-family: 'Times New Roman', Times, serif;
    color: 'white';
    font-size: 2vw;
    position: absolute;
    bottom: -3vw;
    right: 5vw;
}

/* Celular */
@media only screen and (max-width: 600px) {


    .containerLeitura {
        height: 200vw;
        background-color: #F4E2C7;
        /* padding: 5vw; */
        margin-left: 0vw;
        margin-right: 0vw;
        margin-bottom: 0vw;
    }

    .menuLeitura {

        position: relative;
        display: block;
        height: 100vw;
        /* background-color: #E8B87A; */
    }

    .menuLeitura img {
        width: 100vw;
    }

    .pag {
        position: relative;

        z-index: 2;
    }

    .pagina {
        font-family: 'Times New Roman', Times, serif;
        color: 'white';
        font-size: 4vw;
        position: absolute;
        bottom: -13vw;
        left: 63vw;
    }
}

/* Pagina About */
/*celular */
@media only screen and (max-width: 600px) {

    .containerSobre {


        background-color: #F2E3D0;
        background-image: url("../components/img/backAbout.png");
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;


    }

    .titulosSobre {
        display: flex;

        flex-direction: column;
        width: 96vw;
        align-items: center;
    }

    .autor {
        width: 50vw;
        margin-top: 10vw;
    }

    .nome {
        margin-top: 5vw;
        width: 80vw;
    }


    .perfil {
        margin-top: 5vw;
        width: 70vw;
    }
.redesSociais{
    padding-bottom: 20vw;
}
    .insta {
        margin-top: 10vw;
        width: 55vw;
        transition: 0.3s all linear;
        padding-left: 7vw;
    }
    
    .gmail {
        padding-left: 5vw;
        transition: 0.5s all linear;
        margin-top: 3vw;
        width: 85vw;

    }

    .insta:hover,
    .gmail:hover {

        scale: 1.1;
    }
    .containerSobreTexto{
    
        position: relative;
        background-color: #F4E2C7;
        height: 50vw;
        
    }
    .barraSobre{
        width: 96vw;
        position: absolute;
        top: -2vw;
    }
}