/* Para celular */
@media only screen and (max-width: 600px) {
    body {
        
        background-color: #F2E3D0;
        background-image: url("../components/img/backHome.png");
        background-size: 107vw;
        background-repeat: no-repeat;

    }

    .container {

        overflow: hidden;
        position: relative;

    }

    .vilage {
        margin-top: 50vw;
        margin-bottom: 60vw;

        text-align: center;
    }

    .vilage img {


        width: 100vw;
    }

    .menu {}

    .menu img {

        width: 120vw;
    }

}